
<!---------**************-----------home section start -------***********------------------------>
<section class="home">
        
    <div class="me"  style=' background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0.336),
        rgba(0, 0, 0, 0.637)
      ),
      url("/public/uploads/images/<%= photo[photo.length - 1].photo %>"); width: 40vw;
  height: 80vh;
  /*  margin: 20px; */
 
  background-size: cover;' >

        <h4 id="num" style="color: #fff;">  <%= personal.sentence %> </h4>

    </div>

    <div class="side">
        
        <div class="intro"  >
        <p style="color: rgba(255, 248, 248, 0.637);" >Hey , there<span> &#129497;</span></p> 
        <br/>
        <h3 class="css-typing" style="color: rgba(253, 253, 253, 0.705);"><p>I'm  <%= personal.pname %> </p></h3>
        <div>
            <p  style="color: rgba(255, 248, 248, 0.856);">
                <%= personal.description %>
            </p>
        
          </div>
         <a href="/public/uploads/cv/<%= photo[photo.length - 1].cv %>"><button class="bbt">my cv</button></a> 
        
    </div>
    </div>
</div>
   
</section>
<!------------------------------------------home end ------------------------------------------->
